.BookingForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.BookingForm__container {
  width: 80%;
  margin-bottom: 10px;
}

.BookingForm__controllers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.BookingForm__button {
  font-size: 16px;
  width: 100px;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--add-dark-color);
  color: var(--accent-color);
  border: 1px solid var(--add-dark-color);
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.BookingForm__button:hover {
  background-color: var(--add-light-color);
  color: var(--add-dark-color);
}

.BookingForm__button:disabled {
  background: #bababa;
  opacity: 0.65;
  cursor: not-allowed;
}

.BookingForm__send {
  font-family: var(--accent-font);
  font-size: 16px;
}

.BookingForm__select {
  background-color: transparent;
  width: 100%;
}

.BookingForm__select::-webkit-input-placeholder {
  font-family: var(--main-font);
  font-size: 12px;
}

.BookingForm__select:-ms-input-placeholder {
  font-family: var(--main-font);
  font-size: 12px;
}

.BookingForm__select::-ms-input-placeholder {
  font-family: var(--main-font);
  font-size: 12px;
}

.BookingForm__select::placeholder {
  font-family: var(--main-font);
  font-size: 12px;
}

.BookingForm__input {
  all: unset;
  font-family: var(--main-font);
  width: 100%;
  padding: 5px;
  text-align: center;
  font-family: var(--accent-font);
  border: 1px solid var(--add-dark-color);
  border-radius: 1px;
}

.BookingForm__input::-webkit-input-placeholder {
  font-family: var(--main-font);
  font-size: 12px;
}

.BookingForm__input:-ms-input-placeholder {
  font-family: var(--main-font);
  font-size: 12px;
}

.BookingForm__input::-ms-input-placeholder {
  font-family: var(--main-font);
  font-size: 12px;
}

.BookingForm__input::placeholder {
  font-family: var(--main-font);
  font-size: 12px;
}

.custom_datepicker_calendar .react-datepicker__time-list {
  background-color: orange;
}

.custom_datepicker_calendar,
.custom_datepicker__popper,
.custom_datepicker__month,
.custom_datepicker__time,
.custom_datepicker_wrapper {
  border: none !important;
  font-family: var(--main-font) !important;
}

.custom_datepicker__time {
  border: none !important;
}

.custom_datepicker__time:hover {
  background-color: var(--add-light-color) !important;
  color: black !important;
}

@media screen and (max-width: 767.99px) {
  .BookingForm {
    width: 100vw;
    height: 90vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .BookingForm {
    width: 400px;
  }
}
/*# sourceMappingURL=BookingForm.module.css.map */
