.Filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 60px;
}

.Filter__link {
  margin-right: 5px;
  &:not(:last-child) {
    margin-right: 20px;
  }
}
.Filter__item {
  padding: 10px;
  margin-bottom: 20px;
  &:hover {
    color: var(--accent-color);
  }
}

.Filter__arrow {
  margin-left: 10px;
}
