.Services__item {
  position: relative;
  padding: 20px 15px;
  background-color: var(--add-dark-color);
  color: var(--accent-color);
  border-radius: 5px;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Services__heading {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .Services__item {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .Services__img {
    width: 200px;
  }
  .Services__heading {
    top: 75%;
  }
}

@media screen and (min-width: 768px) {
  .Services__list {
    display: flex;
    justify-content: space-around;
  }
  .Services__item {
    width: calc(100% / 3 - 1em);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
}

@media screen and (min-width: 1280px) {
}
