.Hero {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(var(--hero-gradient)),
    url(../../img/hero-photo_desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  background-color: var(--add-dark-color);
}
.Hero__container {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  text-align: left;
}

.Hero__info {
  max-height: 350px;
  max-width: 60vw;
}

.Hero__heading {
  margin-bottom: 20px;
  font-size: 30px;
}

.Hero__buttons {
}

.Hero__button {
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 5px;
  border: 1px solid var(--accent-color);
  font-size: 14px;
}

.Hero__button_book {
  background-color: var(--accent-color);
  margin-bottom: 20px;
}

.Hero__button_gift {
  color: var(--accent-color);
}

.Hero__description {
  color: var(--alt-color);
  margin-bottom: 50px;
  max-width: 45vw;
}

.Hero__services_button {
  margin-bottom: 20px;
  width: auto;
  max-width: 150px;

  & .dropdown-menu {
    transform: translate-x(50%);
  }
}

.Hero__services_button > a,
.Hero__services_button_ins > a {
  font-family: var(--accent-font) !important;
  color: var(--accent-color) !important;
}

.Hero__services_button > * {
  padding: 0;
}

.Hero__services_button_ins .Hero__services_button_subitem.dropdown-item {
  color: var(--add-light-color) !important;
  font-family: var(--main-font) !important;
  font-size: 13px !important;
  text-transform: none !important;
}

@media screen and (max-width: 767px) {
  .Hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .Hero__container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .Hero {
    height: 900px;
    background-image: url(../../img/hero-photo_desktop.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
  }

  .Hero__container {
    padding-left: 0;
    padding-right: 0;
  }

  .Hero__heading {
    margin-bottom: 40px;
    font-size: 60px;
  }

  .Hero__info {
    max-width: 535px;
  }

  .Hero__button {
    padding: 16px 42px;
    font-size: 16px;
  }

  .Hero__buttons {
    display: flex;
    flex-direction: row;
  }

  .Hero__button_book {
    background-color: var(--accent-color);
    margin-bottom: 0;
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
}

@media screen and (min-width: 1280px) {
}
