.BookingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  justify-content: space-around;
}
.BookingForm__container {
  width: 80%;
  margin-bottom: 10px;
}
.BookingForm__controllers {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.BookingForm__button {
  font-size: 16px;
  width: 100px;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--add-dark-color);
  color: var(--accent-color);
  border: 1px solid var(--add-dark-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  &:hover {
    background-color: var(--add-light-color);
    color: var(--add-dark-color);
  }
  &:disabled {
    background: rgb(186, 186, 186);
    opacity: 0.65;
    cursor: not-allowed;
  }
}
.BookingForm__send {
  //   border: none;
  font-family: var(--accent-font);
  font-size: 16px;
}

.BookingForm__select {
  background-color: transparent;
  width: 100%;
  &::placeholder {
    font-family: var(--main-font);
    font-size: 12px;
  }
}

.BookingForm__input {
  all: unset;
  font-family: var(--main-font);
  width: 100%;
  padding: 5px;
  text-align: center;
  font-family: var(--accent-font);

  border: 1px solid var(--add-dark-color);
  border-radius: 1px;

  &::placeholder {
    font-family: var(--main-font);
    font-size: 12px;
  }
}
@media screen and (max-width: 767.99px) {
  .BookingForm {
    width: 100vw;
    height: 90vh;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .BookingForm {
    width: 400px;
  }
}

@media screen and (min-width: 1280px) {
}
