@import './fonts.scss';

:root {
    --background-color: #FBEFDF;
    --accent-color: #DD9226;
    --text-color: #373F41;
    --add-dark-color: #342113;
    --add-light-color: #E7D8C4;
    --alt-color: #88755C;
    --hero-text-color: #C6AB87;
    --main-font: 'Roboto', 'sans serif';
    --accent-font:'Philosopher','sans-serif';

}