.About__visual {
  position: relative;
  background-color: var(--add-dark-color);
  border-radius: 5px;
}
.About__background {
  max-width: 200px;
}

.About__picture {
  display: none;
}

.About__description {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  margin-top: 30px;
}

@media screen and (max-width: 767.99px) {
  .About__visual {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
}

@media screen and (min-width: 768px) {
  .About__container {
    display: flex;
  }
  .About__visual {
    margin: 0;
    margin-right: 150px;
  }
  .About__background {
    min-width: 560px;
  }

  .About__picture {
    display: block;
    width: 450px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    right: -80px;
  }

  .About__description {
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1280px) {
}
