.ServicesView__type{
        margin-bottom: 120px;
}

.ServicesView__type_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ServicesView__container{
    margin-top: 100px;
}
.ServicesView__heading{
    font-size: 35px;
}





@media screen and (max-width: 767px) {}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .ServicesView__item {
            width: calc(100% / 2 - 10px);
        }
}

@media screen and (min-width: 1280px) {
    .ServicesView__item {
            width: calc(100% / 3 - 10px);
        }
}