.SpecialistItem {
  flex: 0 20em;
  background-image: radial-gradient(
    circle at bottom left,
    rgb(244, 236, 236) 10%,
    transparent 17%,
    var(--add-light-color) 50%,
    #f3eded 130%,
    transparent 30%
  );
  box-shadow: var(--modal-shadow);
}

@media screen and (max-width: 767px) {
  .SpecialistItem {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .SpecialistItem {
    margin-right: 10%;
  }
}

.SpecialistItem__card {
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--alt-text-color);
  & > *:not(:last-child) {
    margin-bottom: 15px;
  }
}

.SpecialistItem__card_wrapper {
  margin-bottom: 35%;
}

.SpecialistItem__img_wrapper {
  position: relative;
  z-index: 2;
  box-shadow: var(--card-shadow);
}

.SpecialistItem__img {
  height: 95%;
  width: 95% !important;
  box-shadow: var(--card-shadow);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.SpecialistItem__name {
  text-transform: uppercase;
  bottom: -25%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10% 25%;
  z-index: 1;
  box-shadow: var(--down-shadow);
  font-weight: 600;
}

.SpecialistItem__descr {
  // color: var(--alt-text-color);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 14px;
}

.SpecialistItem__location {
  font-family: var(--accent-font);
}
