.Prices {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  width: 100%;
  margin: 15px 0;
  & div {
    margin-bottom: 10px;
  }
}

.Prices__detail {
  // border-bottom: 1px solid var(--add-light-color);
  padding: 5px 5px;
  display: flex;
}
