@import-normalize;
@import "./styles/variables.scss";
@import "bootstrap/dist/css/bootstrap.min.css";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline: 1px solid tomato;
}
.react-select__control {
  background-color: #fff;
}
body {
  margin: 0;
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);

  @media screen and (max-width: 767px) {
    // font-size: calc(16px + 1vmin);
  }
  font-size: 14px;
  line-height: 130%;
}

button {
  display: block;
  margin: 0;
  font-size: 16px;
  font-family: var(--accent-font);
  border: none;
  background-color: transparent;
}

p,
span {
  margin: 0;
}

input {
  font-family: var(--main-font);
}

address {
  all: unset;
  color: inherit;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  margin: 0;
  max-width: 100%;
  height: auto;
}

a,
a.nav-link {
  text-decoration: none;
  color: var(--main-color);
  &:hover,
  &:active,
  &:focus {
    color: var(--accent-color);
  }
}

article {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--accent-font);
}

.force-overflow {
  min-height: 50px;
}

.owl-nav {
  position: absolute;
  top: 42%;
  width: 100%;
  display: flex;
  justify-content: space-between;

  & > * {
    font-size: 35px !important;
    background-color: var(--accent-color) !important;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0 0 5px 0;
    box-shadow: var(--button-shadow);
  }
}

.owl-stage-outer {
  @media screen and (min-width: 768px) {
    padding: 50px;
  }
}

.owl-stage {
  display: flex;
  align-items: stretch; /* Ensures all items have the same height */
}

.owl-item > * {
  flex: 1; /* Make each item take up equal space */
  padding: 0 15px; /* Add spacing between items if needed */
  min-height: 100%; /* Ensure items take up the full width of the container */
  transition: all 0.45s ease 0s; /* Add any necessary transitions */
}

.dropdown-menu,
.dropdown-menu * {
  background-color: var(--background-color);
}

.App__goback {
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 10px 12px;
  border-radius: 50%;
  background-color: var(--add-dark-color);
  box-shadow: var(--button-shadow);

  z-index: 100;

  opacity: 0;

  transform: translateY(100px);

  transition: all 0.5s ease;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}

.container {
  width: 100vw;
}
.GiftcardsText__number {
  font-weight: 500;
}

.GiftcardsText__list {
  list-style-type: disc;
  padding-left: 40px;
  text-align: left;
}

.GiftcardsText__description {
  &:first-child {
    margin-top: 30px;
  }
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover,
.dropdown-submenu:active,
.dropdown-submenu:hover {
  color: var(--accent-color);
  background-color: transparent;
}

@media screen and (max-width: 767.99px) {
  .dropdown-menu {
    position: static;
    width: 100vw;

    text-align: center;
    padding: 15px 0;
  }

  .dropdown-toggle + .dropdown-menu {
    background-color: var(--add-dark-color);
    padding: 0;
  }

  .dropdown-toggle + .dropdown-menu * {
    color: var(--hero-text-color);
    background-color: var(--add-dark-color);
  }

  .dropdown .dropdown-toggle + .dropdown-menu {
    inset: 0 0 0 0 !important;
  }
}

@media screen and (min-width: 768px) {
  .GiftcardsText__description {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    margin-right: 70px;
  }

  .dropdown-menu {
    position: absolute;
    left: 100%;
    top: 0;
  }

  .dropdown-submenu {
    width: 100%;
    padding: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.99px) {
}

@media screen and (min-width: 1280px) {
}

.container {
  @media screen and (max-width: 767.99px) {
    width: 100%;
    min-width: 280px;
    padding: 25px 15px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-left: auto;
    margin-right: auto;
    // width: 708px;
    padding: 25px 50px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    padding: 25px 100px;
  }
  @media screen and (min-width: 1500px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    padding: 25px 100px;
  }
}

.heading {
  font-family: var(--accent-font);
  color: var(--hero-text-color);
  font-weight: 400;
  line-height: 120%;
}

section {
  @media screen and (max-width: 767px) {
    margin-top: 40px;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
  }

  @media screen and (min-width: 1280px) {
    margin-top: 115px;
  }
}

@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
}

@media screen and (min-width: 1280px) {
}
