.ContactsItem {
  margin-bottom: 30px;
}

.ContactsItem__controller {
  font-size: 30px;
  line-height: 120%;
  margin-bottom: 12px;
  text-align: left;
}

.ContactsItem__map {
  background-color: var(--sec-bg-color);
  box-shadow: var(--card-shadow);
}

.ContactsItem__heading {
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 10px;
}
.ContactsItem__info {
  display: flex;
  margin-top: 35px;
  justify-content: space-around;
}
.ContactsItem__heading {
  padding: 0 10px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .ContactsItem__frame {
    width: 100%;
    padding: 0;
  }

  .ContactsItem__map {
    padding-bottom: 15px;
    margin-left: auto;
  }
  .ContactsItem__google {
    margin: 25px auto;
  }

  .ContactsItem__controller {
    text-align: center;
  }
  .ContactsItem__controllers {
    margin-bottom: 30px;
  }
  .ContactsItem__google {
    font-family: "Roboto";
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    font-weight: 400;
    font-size: 16px;
    line-height: 80%;
    &::before {
      content: "";
      background-color: var(--text-color);
      width: 10px;
      height: 10px;
      position: absolute;

      border-radius: 50%;
      top: -150%;
      left: 50%;
    }
  }
  .ContactsItem__info {
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > * {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .ContactsItem {
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
  }
  .ContactsItem__map {
    padding-bottom: 30px;
    position: relative;
    top: -10px;
  }
  .ContactsItem__controllers {
    margin-right: 30px;
  }

  .ContactsItem__google {
    font-family: "Roboto";
    position: relative;

    margin-left: 90px;
    font-weight: 400;
    font-size: 16px;
    line-height: 80%;
    &::before {
      content: "";
      background-color: var(--text-color);
      width: 85px;
      height: 1px;
      position: absolute;
      left: -60%;
      top: 50%;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
}

@media screen and (min-width: 1280px) {
}
